body {
  font-family: sans-serif;
  margin: 20px;
  background-image: url(../images/back.jpg); }
  body h1 {
    color: white;
    font-family: "Blenny Black";
    font-size: 450%;
    text-align: center;
    margin-top: 30px; }
  body h2 {
    color: white;
    font-family: "Gill Sans";
    font-weight: lighter;
    text-indent: 0;
    text-align: center; }
  body h3 {
    text-align: left;
    font-family: "Blenny Black";
    color: white; }
  body p {
    color: white;
    display: block;
    font-family: "Gill Sans";
    font-size: 120%;
    font-weight: lighter; }
  body .block {
    float: right;
    margin-block-start: 6em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 1200px;
    margin-right: 12px; }
  body .container {
    vertical-align: bottom; }
  body button, body input {
    float: left;
    margin-top: 540px;
    margin-left: 20PX; }
