body {
	background-image: url(../images/back.jpg);

	h1{
		color: white;
		font-family: "Blenny Black";
		font-size: 450%;
		text-align: center;
		margin-top: 30px;

	}

	h2{

		color:white;
		font-family: "Gill Sans";
		font-weight: lighter;
		text-indent: 0;
		text-align: center;
	}

	h3{
		margin-left: 1200px;
		text-align: left;
		font-family: "Blenny Black";
		color: white;
		margin-top: 130px;
	}

	p {

		color: white;
		display: block;
		margin-left:1200px;
		font-family: "Gill Sans";
		font-size: 120%;
		font-weight: lighter;
		margin-bottom: 2px;
		margin-top: 0px;
		margin-right: 20px;
	}





	button, input {

		margin-top: 200px;
		margin-left: 120PX;
		width: 160px;
		length: 160px;
		vertical-align: middle;

  }


		.response{
			display: none;

		}

	




}
